<form onsubmit="return login(this)" class="container gray-form padding-10">

    <div class="form-group">
        <label for="nombre" class="form-label">Usuario</label>
        <input type="text" id="nombre" class="form-control" name="nombre"/><br>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-control" name="password"/><br>
    </div>

    <input type="submit" class="btn btn-primary" value="Confirmar" />

</form>