<div id="success-message" class="alert alert-success" role="success"><h2>Hasta luego {{user}}</h2></div>
<script>
    setTimeout(() => {
        window.location = 'http://localhost:8080/'
    }, 2000)
</script>