.padding-10{
    padding: 10px;
}

.image-icon{
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
}

.mail-message{
    font-weight: bold;
    color: blue;
}

.date-message{
    color: brown;
}

.text-message{
    color: green;
    font-style: italic;
}

.invisible{
    display: none;
}

.gray-form{
    background-color: lightgrey;
}

.relative{
    position: relative;
}

.absolute-right{
    position: absolute;
    right: 10px;
    top: 10px;
}